{
  "extension": [
    ".ts"
  ],
  "include": [
    "src"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "all": true,
  "cache": false,
  "sourceMap": true,
  "instrument": true,
  "report-dir": "coverage/node"
}
